* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
  }

   /*--------------overlay Add----------------*/
   .model-add {
    width: 400px;
    /* width: 30%; */
    /* height: 800px; */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #dddddd;
    /* margin: auto; */
    transition: 900ms ease-in-out;
    /* border-top: 10px solid red;
    border-bottom: 10px solid red; */
    overflow: auto;
  }
  
  .overlay-add {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    transition: 900ms ease-in-out;
    overflow: auto;
    z-index: 100;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  .overlay-add.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.model-add-header {
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  border-bottom: 1px solid #dddddd ;
}
.model-add-header i {
  color: #dddddd;
  cursor: pointer;
}
.model-add-content {
  padding: 15px 10px;
  font-size: 15px;
  color: #333;
}

.model-add-footer {
  padding: 10px ;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}
.model-add-footer .btn-default {
  margin-right: 5px;
}
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

   /*--------------overlay Update----------------*/
   .model-update {
    width: 40%;
    /* height: 800px; */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #dddddd;
    /* margin: auto; */
    transition: 900ms ease-in-out;
    /* border-top: 10px solid red;
    border-bottom: 10px solid red; */
    overflow: auto;
  }
  
  .overlay-update {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    transition: 900ms ease-in-out;
    overflow: auto;
    z-index: 100;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  .overlay-update.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.model-update-header {
  padding: 15px 10px;
  border-bottom: 1px solid #dddddd ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
}
.model-update-header i {
  color: #dddddd;
  cursor: pointer;
}
.model-update-content {
  padding: 15px 10px;
  border-bottom: 1px solid #dddddd ;
  font-size: 15px;
  color: #333;
}

.model-update-footer {
  padding: 10px ;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}
.model-update-footer .btn-default {
  margin-right: 5px;
}
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }


  /*--------------overlay Delete----------------*/
  .model {
    width: 40%;
    /* height: 800px; */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #dddddd;
    /* margin: auto; */
    transition: 900ms ease-in-out;
    /* border-top: 10px solid red;
    border-bottom: 10px solid red; */
    overflow: auto;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    transition: 900ms ease-in-out;
    overflow: auto;
    z-index: 100;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  .overlay.active {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

.model-header {
  padding: 15px 10px;
  border-bottom: 1px solid #dddddd ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
}
.model-header i {
  color: #dddddd;
  cursor: pointer;
}
.model-content {
  padding: 15px 10px;
  border-bottom: 1px solid #dddddd ;
  font-size: 15px;
  color: #333;
}

.model-footer {
  padding: 10px ;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}
.model-footer .btn-default {
  margin-right: 5px;
}
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  