/*-------------Profile----------------*/
.container-profile {
    /* border: 2px solid chartreuse; */
    /* padding: 0 10px; */
    /* margin: auto; */
  }
  .container-profile hr {
    margin: 3px 0 30px;
  }
  
  .container-profile .box-col-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container-profile .box-col-1 label {
    /* border: 1px solid red; */
    flex-basis: 30%;
  }
  
  .container-profile .box-col-1 h3 {
    flex-basis: 70%;
    /* border: 1px solid red; */
  }
  .container-profile .box-col-1 input {
    flex-basis: 70%;
    padding: 13px;
    border: 1px solid #dddddd;
    font-size: 17px;
    margin-bottom: 3px;
    /* border: 1px solid red; */
  }
  
  .container-profile .box-col-1 a {
    /* border: 1px solid red; */
  }
  .container-profile .btn-edit {
      width: auto;
  }

  /*-------------Documents----------------*/
  .docs .doc {
   display: flex;
   border: 1px solid #dddddd;
   align-items: center;
   justify-content: space-around;
   padding: 100px 10px;
  }
  
