.message-details {
    max-width: 90%;
    margin: 0 auto;
}
.message-details h2 {
    font-weight: normal;
    margin-bottom: 20px;
    color: #333;
    /* border: 1px solid red; */
    padding-left: 4px;
}
.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    /* border: 1px solid red; */
}
.message-header .message-header-sender {
    display: flex;
    align-items: center;
}
.message-header-sender .i-mui {
    margin-right: 5px;
}

.message-header p {
    font-size: 14px;
    padding-right: 100px;
    color: #333;
}
.message-content {
    font-size: 15px;
    line-height: 1.7;
}